<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Nowe pole w webhooku od thulium</title>
</head>
<body>
    Pojawiło się nowe pole w webhooku z thulium. Poniżej zrzut całego webhooka:
    {{ data }}
</body>
</html>